/* Desde 950px a 1200px de ancho:  */
@media only screen and (max-width: 1200px){
    
    .pokeInfo h2{
        font-size: 250%;
    }
    .statsBox:last-child{
        width: 50%;
    }
    
}

/* Desde 768px a 950px de ancho:   */
@media only screen and (max-width: 950px){
    .pokeInfo h2{
        font-size: 190%;
    }
    
    .infoLabel{
        font-size: 70%;
    }
    .pokeInfo li{
        font-size: 60%;
    }
    
    .goBack{
        top: 780px;
        left: 5%;
        font-size: 120%;
    }
    
}

/* Desde 480px a 768px de ancho:   */
@media only screen and (max-width: 768px){
    
    .logo-small{
        width: 30%;
        margin-left: 60%;
    }
    
    .pokeImage{
        margin-left: 5%;
        width: 60%;
        margin: 0px auto 5px auto;
        float: none;
        margin-bottom: -5%;
    }
    .pokeInfo{
        width: 80%;
        float: none;
        margin: 5px 10% 0px 10%;
        padding: 50px 0 50px 30px;
    }
    
    .pokeInfo h2{
        font-size: 270%;
    }
    #pokeId{
        font-size: 150%;
    }
    
    .infoLabel{
        font-size: 100%;
    }
    .pokeInfo li{
        font-size: 80%;
    }
    
    .goBack{
        top: 120px;
        left: 5%;
        font-size: 120%;
        color: #fff;
    }
    .goBack a{
        color: #fff;
    }
    
}

/* Desde 320px a 480px de ancho:   */
@media only screen and (max-width: 480px){
    
    .goBack{
        top: 230px;
        left: 10%;
        font-size: 100%;
    }
    
    .logo-small{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .pokeInfo h2{
        font-size: 150%;
    }
    #pokeId{
        font-size: 100%;
    }
    
    .pokeImage{
        margin-bottom: -20%;
    }
    
    .infoLabel{
        font-size: 75%;
    }
    .pokeInfo li{
        font-size: 55%;
    }
    .weightBox:last-child{
        margin-left: 16%;
    }
}

/* Desde 0px a 480px de ancho:   */
@media only screen and (max-width: 320px){
    
    #pokeId{
        margin-bottom: 40px;
    }
    .heading{
        margin-bottom: 0;
    }
    .goBack{
        top: 180px;
        left: 10%;
        font-size: 100%;
    }
    .pokeInfo h2{
        font-size: 130%;
    }
    #pokeId{
        font-size: 90%;
    }
    
    .pokeImage{
        margin-bottom: -50%;
    }
    
    .infoLabel{
        font-size: 60%;
    }
    .pokeInfo li{
        font-size: 50%;
    }
    .weightBox:last-child{
        margin-left: 14%;
    }
    
    .statsBox{
        width: 100%;
    }
    .statsBox:last-child{
        width: 100%;
    }
}
































