/* Desde 950px a 1200px de ancho:  */
@media only screen and (max-width: 1200px){
    
    .introText{
        width: 50%;
    }
    .introText h2{
    font-size: 180%;
    }
    .introText p{
        font-size: 70%;
        width: 90%;
    }
    .introImage{
        top: 300px;
    }
    .introImage img{
        width: 80%;
    }
    
    .buscador{
        font-size: 80%;
    }
    #finder{
        height: 30px;
        width: 15%;
    }
    
    .lista{
        margin-top: 80px;
    }
}

/* Desde 768px a 950px de ancho:   */
@media only screen and (max-width: 950px){
    
    .logo-big{
        width: 40%;
    }
    .introText{
        width: 50%;
        top: 400px;
    }
    .introText h2{
    font-size: 190%;
    }
    .introText p{
        font-size: 70%;
        width: 100%;
    }
    
    .buscador{
        font-size: 70%;
    }
    #finder{
        height: 25px;
        width: 20%;
    }
    
    .lista{
        margin-top: 70px;
    }
}

/* Desde 480px a 768px de ancho:   */
@media only screen and (max-width: 768px){
    
    .logo-big{
        width: 35%;
    }
    .introImage{
        left: 35%;
        top: 170px;
        margin-left: -4%;
    }
    .introImage img{
        height: 250px;
        width: auto;
    }
    
    .introText{
        width: 80%;
        top: 470px;
    }
    .introText h2{
    font-size: 150%;
    }
    
    .buscador{
        font-size: 80%;
        margin-left: 8%;
    }
    #finder{
        width: 30%;
    }
    
    .lista{
        margin-top: 50px;
    }
    
    .pokemonBox{
        width: 40%;
        margin-left: 6%;
    }
    
    .paginador a{
        font-size: 80%;
    }
    #actPage{
        font-size: 90%;
    }
}

/* Desde 320px a 480px de ancho:   */
@media only screen and (max-width: 480px){
    .logo-big{
        width: 38%;
    }
    .introImage img{
        width: 75%;
        height: auto;
    }
    .introImage{
        top: 150px;
        margin-left: -8%;
    }
    .introText h2{
    font-size: 160%;
    }
    .introText{
        top: 430px;
    }
    .introText p{
        font-size: 60%;
    }
    
    .paginador a{
        font-size: 70%;
    }
    #actPage{
        font-size: 80%;
    }
    
    .pokeName{
        font-size: 65%;
    }
    .pokeNumber{
        font-size: 58%;
    }
}

/* Desde 0px a 320px de ancho:   */
@media only screen and (max-width: 320px){
    
    header{
        height: 780px;
    }
    .introText h2{
        font-size: 150%;
    }
    .introText{
        top: 420px;
    }
    .introText p{
        font-size: 55%;
    }
    
    #finder{
        width: 50%;
        font-size: 60%;
        height: 20px;
        margin-bottom: 10px;
    }
    .buscador ion-icon{
        font-size: 100%;
    }
    .buscador .btn {
        font-size: 60%;
    }
    
    .pokeName{
        font-size: 55%;
    }
    .pokeNumber{
        font-size: 48%;
    }

}
































