/* ---------------------------------------------------------------------*/
/* BASIC SETUP */
/* ---------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #2a75bb;
    color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ---------------------------------------------------------------------*/
/* HEADINGS */
/* ---------------------------------------------------------------------*/

h1{
    margin-top: 1%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
    text-align: center;
}
h1:after{
    display: block;
    height: 2px;
    background-color: #ffcb05;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    
}


/* ---------------------------------------------------------------------*/
/* TABLA */
/* ---------------------------------------------------------------------*/
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #ffcb05;
    border-collapse: collapse;
    font-size: 70%;
}

th {
    border: 1px solid #ffcb05;
    font-size: 100%;
    text-transform: uppercase;
    padding: 5px 0;
    width: 20%
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	th { 
        width: 100px;
	}
    
}

td {
    border: 1px solid #ffcb05;
    height: auto;
    padding: 5px;
    vertical-align: center;
    text-align: center; 
}

.table-row:hover{
    background-color: #4490d8;
    cursor: pointer;
}

caption {
    font-size: 100%;
    font-style: italic;
    padding-top: 10px;
    
}

#Prev{
    display: none;
    vertical-align: top;
    text-decoration: underline;
}
#Prev:hover,
#Next:hover{
    cursor: pointer;
}

#Next{
    vertical-align: top;
    text-decoration: underline;
    display: inline-block;
}


ion-icon{
    vertical-align: middle;
}