/* ---------------------------------------------------------------------*/
/* BASIC SETUP */
/* ---------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
}

/* ---------------------------------------------------------------------*/
/* HEADER */
/* ---------------------------------------------------------------------*/

/* HEADING */
header{
    background: linear-gradient(0deg, #fff 35%, #7da09a 35%);
    height: 810px;
}

.logo-big{
    width: 30%;
    display: block;
    margin: auto;
    padding-top: 40px;
}

/* INTRODUCTION TEXT */
.introText{
    position: absolute;
    top: 460px;
    left: 8%;
    width: 44%;
}
.introText h2{
    font-family: 'Silom', 'Lato';
    font-size: 190%;
    text-transform: uppercase;
}
.introText p{
    color: #000;
    padding-top: 40px;
    text-align: left;
    font-size: 80%;
    line-height: 1.6;
}

/* POKEBALL IMG */
.introImage{
    position: absolute;
    left: 60%;
    top: 250px;
}
.introImage img{
    width: 85%;
}







/* ---------------------------------------------------------------------*/
/* FOOTER */
/* ---------------------------------------------------------------------*/
footer{
    background-color: #7da09a;
    height: 300px;
}

footer img{
    margin: 60px auto 30px auto;
    display: block;
    height: 80px;
}

footer p{
    color: #fff;
    text-align: center;
    font-size: 70%;
    margin-bottom: 10px;
}
