/* ---------------------------------------------------------------------*/
/* BASIC SETUP */
/* ---------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
}

/* ---------------------------------------------------------------------*/
/* HEADER */
/* ---------------------------------------------------------------------*/

/* HEADING */
header{
    background: linear-gradient(0deg, #fff 35%, #7da09a 35%);
}
.heading{
    margin-bottom: 30px;
}

.logo-small{
    width: 20%;
    display: block;
    margin-left: 70%;
    padding-top: 40px;
}

/* ---------------------------------------------------------------------*/
/* POKEMON IMAGE */
/* ---------------------------------------------------------------------*/
.pokeImage{
    margin-left: 5%;
    width: 40%;
    float: left;
    margin-top: 55px;
}
.pokeImage img{
    height: 600px;
    width: 100%;
}

/* ---------------------------------------------------------------------*/
/* POKEMON INFO */
/* ---------------------------------------------------------------------*/
.pokeInfo{
    background-color: #d9770f;
    width: 40%;
    display: inline-block;
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 5%;
    padding: 50px 0 50px 30px;
}

/* POKEMON NAME */
.pokeInfo h2{
    font-family: 'Silom', 'Lato';
    font-size: 350%;
    text-transform: uppercase;
}

/* POKEMON ID */
#pokeId{
    margin-bottom: 70px;
}

/* POKEMON INFO (GENERAL) */
.infoLabel{
    text-transform: uppercase;
    font-size: 90%;
    font-family: 'Arial';
    font-weight: bold;
    margin-top: 30px;
}
.firstTag{
    margin-top: 0;
}

.infoLabel ion-icon{
    margin-right: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    padding: 0;
    width: 95%;
}

.pokeInfo li{
    display: inline-block;
    margin-left: 7%;
    margin-top: 20px;
    font-size: 80%;
}
.pokeInfo li:first-child{
    margin-left: 0;
}


/* POKEMON WEIGHT-HEIGHT */
.weightBox{
    width: 40%;
    float: left;
}
.weightBox:last-child{
    margin-left: 17%;
}


/* STATS */
#stats p{
    display: inline-block;
    padding-left: 5px;
}
#stats li{
    font-weight: bold;
    display: block;
    margin-left: 0;
}
#stats li p{
    font-weight: normal;
}

.statsBox{
    width: 45%;
    float: left;
}


/* ---------------------------------------------------------------------*/
/* REGRESAR */
/* ---------------------------------------------------------------------*/
.goBack{
    position: absolute;
    color: #000;
    top: 850px;
    left: 5%;
    font-size: 120%;
    color: #d9770f;
}
.goBack ion-icon{
    vertical-align: top;
}
.goBack:hover{
    border-bottom: solid 1px;
    cursor: pointer;
} 
.goBack a{
    text-decoration: none;
    color: #d9770f;
}





/* ---------------------------------------------------------------------*/
/* FOOTER */
/* ---------------------------------------------------------------------*/
footer{
    background-color: #7da09a;
    height: 300px;
}

footer img{
    margin: 60px auto 30px auto;
    display: block;
    height: 80px;
}

footer p{
    color: #fff;
    text-align: center;
    font-size: 70%;
    margin-bottom: 10px;
}
